* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #6c6b6b;
}
/*clearfix入り込み防止*/
.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

main {
	width: 960px;
	padding: 50px 0;
	margin: 0 auto;
}
.box {
	padding: 9.9px;
	position: relative;
	float: left;
	border: 0.1px solid gray;
}
.contents {
	width: 280px;
}
.box:nth-child(-n+2) {
	margin-right: 30px;
}

.text {
	background-color: orange;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
}
.image1 {
	background-image: url("img/flow01.png");
	height: 150px;
	background-size: cover;
	background-position: bottom;
}
.image2 {
	background-image: url("img/flow02.png");
	height: 150px;
	background-size: cover;
	background-position: bottom;
}
.image3 {
	background-image: url("img/flow03.png");
	height: 150px;
	background-size: cover;
	background-position: bottom;
}
.title {
	margin: 10px 0 5px 0;
}


@media screen and (max-width:768px) {
	main{
		width: 100%;
		padding: 50px 0;
		margin: 0 5%;
	}
	.box {
		width: 60%;
		float: none;
		padding: 2.5%;
		margin: 0 auto;
	}
	.contents {
		width: 100%;
	}
	.box:nth-child(-n+2) {
	margin-right: auto;
	margin-bottom: 20px;
    }
    .text {
    }

}